<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flight</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:700italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="row">
      <div class="8 columns">
        <h1 class="title-text">Flite | Coffee</h1>
          <div class="4 columns" id="top-notifications">
            <% if notice %>
              <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="alert alert-danger"><%= alert %></p>
            <% end %>
          </div>
        </div>
      </div>

    <div class="row">
      <div class="large-12 columns" id="main-container">
        <dl class="tabs two-up">
          <dd class="active"><%= link_to "Our Coffee", root_path %></dd>
          <dd><a href="#evenTab2">Your Account</a></dd>
        </dl>
          <div class="row">
            <div class="8 columns bean-description">
            <h3>This Week's Roast: <h1>El Salvador Gold</h1></h3>
              <a href="http://github.com/zurb/foundation">
                <img src="http://i.imgur.com/CWssFml.jpg"  alt="">
              </a>
              <p>Medium Roast; fuller, deeper, etc.</p>
          <p>(Subscribe and we'll ship some to you).</p>
            </div>
        </div>
      <% if !user_signed_in? %>
      <div class="row">
        <div class="8 columns">
          <%= link_to "Sign in or Sign up!".html_safe, sign_up_path, :class => "button expand" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  </body>
</html>
