/**{
  border: 1px solid red;
}*/

body{
  background-color: rgb(255, 233, 73);
}

.title-text{
  font-family: 'Droid Serif', serif;
  font-style: italic;
  width: 50%;
  display: inline-block;
  float:left;
}

.bean-description a img{
  width: 10em;
}

#main-container{
  background-color: white;
  border:3px solid black;
}

#top-notifications{
  margin: auto;
  width: 50%;
}

#top-notifications p{
  display: inline;
  float:right;
  margin: auto;
}